@using Models;
@model List<Aula>
@{
    ViewData["Title"] = "Chamada";
}

@{
    if(Cadastro.CdCargo == Cargo.Diretor.GetHashCode())
    {
        Layout= "/Views/Diretor/_Layout.cshtml";
    }
    else
    {
        Layout= "/Views/Professor/_Layout.cshtml";
    }
}

@{var x = DateTime.Now.ToString("dd/MM/yyyy") ; } 



<div class="container">
    
    <table class="table table-bordered">
        <h2>Aulas: <b> @x </b></h2>
        <tr>
            <td><b>Data</b></td>
            <td><b>Aula</b></td>
            <td><b>Chamada</b></td>
        </tr>
        @{
            if(Model.First().Descricao != null){
                    foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Data</td>
                        <td>@item.Descricao</td>
                        <td><a class="btn btn-primary" href="/Professor/Chamada/@item.CdAula">Chamada</a></td>
                    </tr>

                }
            }
            
        }

    </table>

    <p>Cadastrar Aula</p>
    <a class="btn btn-success" href="/Professor/CadastrarAula/@Model.First().CdTurmaProfessor">Adicionar</a>

</div>




