@using Models;
@model Aula
@{
    ViewData["Title"] = "Cadastro de Aula";
}

@{
     if(Cadastro.CdCargo == Cargo.Diretor.GetHashCode())
    {
        Layout= "/Views/Diretor/_Layout.cshtml";
    }
    else
    {
        Layout= "/Views/Professor/_Layout.cshtml";
    }
}



<div class="container">

    <h1>Cadastro de Aula</h1>
    <div asp-validation-summary="All"></div>
    <form asp-action="CadastrarAula" method="POST" class="form-group">
        <label for="Descricao">Descricao</label>
        <input class="form-control" type="text" asp-for="Descricao">

        <label for="Data">Data</label>
        <input class="form-control" type="date" asp-for="Data">
        
        <input type="hidden" value="@Model.CdTurmaProfessor" asp-for="CdTurmaProfessor">
        
        <button class="btn btn-primary" style="margin-top: 20px" >Enviar</button>
    </form>


</div>