@using Models;
@model AlunoSubmit
@{
    ViewData["Title"] = "Incluir Aluno";
}

@{
    Model.CdTurmaProfessor = ViewBag.cdTurmaProfessor;
     if(Cadastro.CdCargo == Cargo.Diretor.GetHashCode())
    {
        Layout= "/Views/Diretor/_Layout.cshtml";
    }
    else
    {
        Layout= "/Views/Professor/_Layout.cshtml";
    }
}



<div class="container">

    <h1>Incluir Aluno</h1>

    <form method="POST" class="form-group">
        
        <select class="form-select form-select" aria-label="Default select example" name="CdPessoa">
            @{
                if(Model.Alunos != null && Model.Alunos.Count > 0)
                {
                    foreach (var item in Model.Alunos)
                    {
                        <option value="@item.CdPessoa">@item.Nome</option>
                    }

                    
                }else
                {
                    <option value="0">Não Há aluno disponível para cadastro</option>
                }
               
            }
            
            <input asp-for="CdTurmaProfessor" style="display:none">

        </select>

         
        @{  
            if(Model.Alunos != null && Model.Alunos.Count > 0)
            {
                <button class="btn btn-primary" style="margin-top: 20px">Enviar</button>
            }
        }


    </form>
    
</div>