@model List<Turma>
@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout= "/Views/Professor/_Layout.cshtml";
}



<div class="container">
    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <td>Matéria</td>
            <td>Turma</td>
            <td>Qtd Alunos</td>
            <td>Aulas</td>
            <td>Notas</td>
            <td>Alunos</td>
        </tr>
        @{
            if(Model.Count > 0){
                foreach(var item in Model)
                {
                    <tr>
                        <td>@item.NomeDaDisciplina</td>
                        <td>@item.NomeDaTurma</td>
                        <td>@item.QtdAlunos</td>
                        <td><a class="btn btn-primary" href="/Professor/Aulas/@item.CdTurmaProfessor">Aulas</a></td>
                        <td><a class="btn btn-primary" href="#">Notas</a></td>
                        <td><a class="btn btn-primary" href="#">Alunos</a></td>
                    </tr>

                }
            }
            
        }

    </table>
    <h3> A turma Algoritmo e Lógica de Programaçãoo 1-a  serve de teste [TODO - REMOVER ESTA MSG]</h3>
    
</div>




