@using Models;
@model List<TurmaProfessor>
@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout= "/Views/Professor/_Layout.cshtml";
}



<div class="container">
    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <td>Matéria</td>
            <td>Turma</td>
            <td>Qtd Alunos</td>
            <td>Aulas</td>
            <td>Notas</td>
            <td>Alunos</td>
        </tr>
        @{
            if(Model.Count > 0){
                foreach(var item in Model)
                {
                    string color = item.Ativo ?  string.Empty :"#cd380e";

                    <tr  bgcolor=@color >
                        <td>@item.NomeDaDisciplina</td>
                        <td>@item.NomeDaTurma</td>
                        <td>@item.QtdAlunos</td>
                        <td>@item.Ano.Year</td>
                        <td><a class="btn btn-primary" href="/Professor/Aulas/@item.CdTurmaProfessor">Aulas</a></td>
                        <td><a class="btn btn-primary" href="#">Notas</a></td>
                        <td><a class="btn btn-primary" href="/Professor/Alunos/@item.CdTurmaProfessor">Alunos</a></td>
                    </tr>
                }
            }
            
        }
    </table>
    <br>
    <p>Ver Turmas Inativas</p>
    <a class="btn btn-danger" href="/Professor/TurmasProfessor/null/false">Inativas</a>
    
</div>




