@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout= "/Views/Home/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3>Rascunhos</h3>
        </br><hr>
        <a class="btn btn-primary" href="/Professor/TurmasProfessor">Professor</a>
        <a class="btn btn-primary" href="/Diretor/Index">Diretor</a>
        <a class="btn btn-primary" href="/Aluno/Aproveitamento">Aluno</a>
    </div>
</div>
