@using Models;
@model Pessoa
@{
    ViewData["Title"] = "Cadastro de pessoas";
}

@{
    Layout= "/Views/Diretor/_Layout.cshtml";
}



<div class="container">

    <h1>Cadastro de Pessoa</h1>
    <div asp-validation-summary="All"></div>
    <form method="POST" class="form-group">
        <label asp-for="Nome">Nome:</label>
        <input class="form-control" type="text" asp-for="Nome">

        <label asp-for="Cpf">CPF:</label>
        <input class="form-control" type="text" asp-for="Cpf">
        
        <label asp-for="Telefone">Telefone:</label>
        <input class="form-control" type="text" asp-for="Telefone">

        <label asp-for="DataNascimento">Data de Nascimento:</label>
        <input class="form-control" type="date" asp-for="DataNascimento">

        <label for="CdCargo">Cargo:</label>
        <select class="form-select form-select" aria-label="Default select example" name="CdCargo">
            <option value="1">Diretor</option>
            <option value="2">Professor</option>
            <option value="3">Aluno</option>
        </select><br>
        @* <input class="btn btn-primary" type="submit" value="Enviar"> *@
         <button class="btn btn-primary" style="margin-top: 20px">Enviar</button>
    </form>

    @{
        if(ViewBag.SuccessRegister != null)
        {
            if(ViewBag.SuccessRegister)
            {
                <h1 class="alert alert-success" role="alert">Sucesso ao cadastrar @Model.Nome!</h1>
            }
            else
            {
                <h1 class="alert alert-danger" role="alert">Erro ao cadastrar @Model.Nome, tente Novamente!</h1>
            }
        }
        
    }


</div>