@using Models;
@model Disciplina

@{
    ViewData["Title"] = "Cadastro de Disciplina";
}

@{
    Layout= "/Views/Diretor/_Layout.cshtml";
}

<div class="container">

    <h1>Cadastro de Disciplina</h1>
    <div asp-validation-summary="All"></div>
    <form method="POST" class="form-group">
        <label asp-for="NomeDisciplina">Nome:</label>
        <input class="form-control" type="text" asp-for="NomeDisciplina">

        <label asp-for="CargaHoraria">Carga Horária:</label>
        <input class="form-control" type="number" asp-for="CargaHoraria" value="0">
        
        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Enviar</button>
    </form>
    
</div>